<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gsi.manager" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    
    <name>Fee Manager Pro</name>
    <description>Professional Offline-First Fee & Student Management System</description>
    <author email="official.globalstudyinstitute@gmail.com" href="https://github.com/sachinkumar">
        Global Study Institute Developer Team
    </author>
    
    <!-- नेटवर्क और एक्सटर्नल लिंक्स एक्सेस परमिशन -->
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="whatsapp:*" />
    <allow-intent href="mailto:*" />

    <!-- स्प्लैश स्क्रीन और UI प्रेफरेंसेज -->
    <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/icon.png" />
    <preference name="AndroidWindowSplashScreenBackground" value="#1E3A8A" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="2000" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
    <preference name="BackupWebStorage" value="none" />
    <preference name="KeepRunning" value="true" />
    
    <!-- एंड्रॉइड प्लेटफार्म प्रेफरेंसेज -->
    <platform name="android">
        <icon src="www/icon.png" />
        <splash src="www/icon.png" />

        <!-- WebView सेटिंग्स ताकि फाइलें और जावास्क्रिप्ट बिना रुकावट चल सकें -->
        <preference name="AllowFileAccess" value="true" />
        <preference name="LoadUrlTimeoutValue" value="60000" />
        <preference name="InAppBrowserStorageEnabled" value="true" />
        <preference name="DisableDeployDelete" value="true" />
    </platform>

</widget>
