<?xml version='1.0' encoding='utf-8'?>
<widget id="com.gsi.manager" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GSI Manager</name>
    <description>GSI Manager App</description>
    <access origin="*" />
    <platform name="android">
        <icon src="www/icon.png" />
    </platform>
</widget>
